<h1 style="color: #FF33CC"><b>Se connecter</b></h1>

<div class="container">
  <div class="Jumbotron" id="Jcreate">
    <h3 style="color: #FFFFFF" id="titre"><b>Remplis tous les champs</b></h3>
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:session, url: login_path) do |f| %>
<br>
        <p style="color: #FFFFFF"><b>Pseudo :</b></p>
        <%= f.text_field :name, class: 'form-control' %>
<br>
        <p style="color: #FFFFFF"><b>Email :</b></p>
        <%= f.email_field :email, class: 'form-control' %>
<br>
        <p style="color: #FFFFFF"><b>Mot de passe :</b></p>
        <%= f.password_field :password, class: 'form-control' %>
<br>
        <%= f.submit "Valider", class: "btn btn-outline", id: "btnlogin" %>
      <% end %>
<br><br>
<p style="float: left">Pas encore inscrit ? <%= link_to "Créer un compte", signup_path %></p>
    </div>
    </div>
  </div>
</div>
