<h1 style="color: #CC3300" class="w3-jumbo" class = w3-section style="text-shadow:1px 1px 0 #444"><b>Tu n'es pas solo PIPO !!!</b></h1>
<br>
<h4 style="color: #CC3300"><b>Regarde !!! Il n'y a pas dégun ICI</b></h4>

<div class="jumbotron">
  <table class="table table-bordered" style="color: #FFFFFF" id="profil_index">
    <thead>
      <tr>
        <th style="color: #FFFFFF"><b>ID</b></th>
        <th style="color: #FFFFFF"><b>Pseudo</b></th>
        <th style="color: #FFFFFF"><b>Email</b></th>
        <th style="color: #FFFFFF"><b>Action(s)</b></th>
      </tr>
    </thead>
    <tbody>
      <% @users.reject{|user| user == current_user}.each do |user| %>
        <tr>
          <td style="color: #FFFFFF"><%= user.id %></td>
          <td style="color: #FFFFFF"><%= user.name %></td>
          <td style="color: #FFFFFF"><%= user.email %></td>
          <td style="color: #FF8C00">
            <%= link_to "Voir le Profil", user_path(user), :class=>"btn btn-sm btn-outline", :id=>"profil" %>
            <%= link_to 'Inviter', event_users_path(user), :class=>"btn btn-sm btn-outline", :method=>:get, :id=>"inviter" %>
          </td>
        </tr>
      <% end %>
  </table>
</div>
