<h1 style="color: #CC3366"><b><%= current_user.name %></b></h1>
<div class="center jumbotron">
  <h2 style="color: #FFFFFF"><b>Crée ton Event</b></h2>
  <p style="color: #FFFFFF"><b>Balance ton super plan</b></p>
  <% if !current_user.created_events.any? %>
    <div style="color: #FFFFFF"><i>Aucun Evénement</i></div>
    <br>
  <% else %>
  <table class="table table-bordered"  style="color:#FFFFFF">
    <thead>
      <tr>
        <th><b>Date</b></th>
        <th><b>Lieu</b></th>
        <th><b>Evénement</b></th>
        <th><b>Action(s)</b></th>
      </tr>
    </thead>

    <tbody>
      <% current_user.created_events.each do |event| %>
        <tr>
          <td><%= event.date.strftime("%d-%b-%Y") %></td>
          <td><%= event.place %></td>
          <td><%= event.description%></td>
          <td>
            <%= link_to 'Visionner', event, :class=>"btn btn-sm btn-outline", :method=>:get, :id=>"voir" %>
            <%= link_to 'Inviter', event_users_path(event), :class=>"btn btn-sm btn-outline", :method=>:get, :id=>"inviter" %>
            <%= link_to 'Supprimer', event, :class=>"btn btn-sm btn-outline", :method=>:delete, :id=>"Supprimer" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
  <br>
  <div>
    <%= link_to "Créer un Evénement", new_event_path, class: "btn btn-lg btn-outline", id: "createvent" %>
  </div>
</div>

<br />

<div class="center jumbotron">
  <h2 style="color: #FFFFFF"><b>Evénements qui t'interesse</b></h2>
  <p style="color: #FFFFFF">Je suis chaud comme la braise</p>
  <% if !current_user.attended_events.any? %>
    <div style="color: #FFFFFF"><i>Aucun Evénement</i></div>
  <% else %>
  <table class="table table-bordered" style="color: #FFFFFF">
    <thead>
      <tr>
        <th>Date</th>
        <th>Lieu</th>
        <th>Evénement</th>
        <th>Action(s)</th>
      </tr>
    </thead>

    <tbody>
      <% current_user.attended_events.each do |event| %>
        <tr>
          <td><%= event.date.strftime("%d-%b-%Y") %></td>
          <td><%= event.place %></td>
          <td><%= event.description%></td>
          <td><%= link_to 'Visionner', event, :class=>"btn btn-sm btn-info", :method=>:get, :id=>"voir" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>

<div class="center jumbotron">
  <h1 style="color: #FFFFFF"><b>Evènements Passés</b></h1>
  <p style="color: #FFFFFF">Tant pis pour toi</p>
  <% if !current_user.attended_events.past.any? %>
    <div style="color: #FFFFFF"><i>Aucun Evénement</i></div>
  <% else %>
  <table class="table table-bordered" style="color: #FFFFFF">
    <thead>
      <tr>
        <th>Date</th>
        <th>Lieu</th>
        <th>Evénement</th>
        <th>Action(s)</th>
      </tr>
    </thead>

    <tbody>
      <% current_user.attended_events.past.each do |event| %>
        <tr>
          <td><%= event.date.strftime("%d/%b/%Y") %></td>
          <td><%= event.place %></td>
          <td><%= event.description%></td>
          <td><%= link_to 'Visionner', event, :class=>"btn btn-sm btn-info", :method=>:get, :id=>"voir" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
